html,
body {
  height: 100%;
  width: 100%;
}

#weather-app-container {
  font-family: 'Archivo';
  --primary-color: rgb(142, 180, 255);
  --secondary-color: rgba(255, 255, 255, 0.2);
  --day-gradient: linear-gradient(to bottom, #49d5ff, #dcf5ff);
  --night-gradient: linear-gradient(to bottom, #120052, #4700b9);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 80px 160px;
}

.day-theme {
  color: black;
  background-image: var(--day-gradient);
}

.night-theme {
  color: white;
  background-image: var(--night-gradient);
}
#nav-container {
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
}

#search-container {
  --border-property: solid black 1.5px;
  display: flex;
}

#user-input {
  border-radius: 16px 0 0 16px;
  padding-left: 10px;
  font-size: 16px;
  border-top: var(--border-property);
  border-bottom: var(--border-property);
  border-left: var(--border-property);
  border-right: none;
}

#search-button {
  font-size: 16px;
  border-radius: 0 16px 16px 0;
  background-color: var(--main-color);
  border-top: var(--border-property);
  border-bottom: var(--border-property);
  border-right: var(--border-property);
  border-left: none;
  outline: none;
}

#current-data-container {
  box-sizing: border-box;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  grid-template-rows: 1;
  background-color: transparent;
}

#name-info-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#location-name {
  font-size: 50px;
}

#condition-container {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2;
  padding-right: 50px;
}

.condition-image {
  grid-row: 1 / 3;
  width: auto;
  height: 100%;
  object-fit: cover;
}

#current-temp {
  font-size: 140px;
  align-self: self-end;
  padding-bottom: 30px;
}

.condition-desc {
  font-size: 30px;
  grid-column: 2 / 3;
  align-self: self-start;
  padding-top: 10px;
}

#dividing-line {
  box-sizing: border-box;
  grid-column: 2 / 3;
  background-color: black;
  margin: 50px 0;
}

#info-container {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 50px;
  place-items: center;
}

.info-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.info-icon {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.info-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 20px;
}

.info-value {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 30px;
}

#forecast-container {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  gap: 4%;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
}

.forecast-data {
  font-size: 36px;
}

.forecast-condition,
.forecast-day {
  font-size: 20px;
  text-align: center;
}
